<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bar Robot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        .top-right-button {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='sva-logo-2024.png') }}" alt="Bar Robot Logo" class="logo">
        </a>
        <h1>Welcome to the Bar Robot</h1>
        <!-- Add the button to the top right -->
        <button class="top-right-button" onclick="location.href='{{ url_for('status') }}'">statusPage</button>
    </header>
    <main>
        <h2>Select a Cocktail</h2>
        <ul>
            {% for cocktail in cocktails %}
                <li><a href="{{ url_for('selected_cocktail', selected_cocktail=cocktail) }}">{{ cocktail }}</a></li>
            {% endfor %}
        </ul>
        <!-- Add the shutdown button to the bottom left -->
        <button class="bottom-left-button" onclick="location.href='{{ url_for('shutdown') }}'">shutdown</button>
    </main>
</body>
</html>
