<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scale Status - Bar Robot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='sva-logo-2024.png') }}" alt="Bar Robot Logo" class="logo">
        </a>
        <h1>Scale Status</h1>
    </header>
    <main>
        <h2>Status</h2>
        <p>Weight: {{ status.weight }}</p>
    </main>
</body>
</html>
