<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ cocktail }} - Bar Roboter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header class="headerbox">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='sva-logo-2024.png') }}" class="svalogo" alt="Bar Robot Logo">
        </a>
        <center>
            <span class="robotname">{{ cocktail }}</span>
        </center>
    </header>
    <main style="display: flex; justify-content: center; align-items: center; flex-wrap: wrap; text-align: center;">
        <div style="flex: 1;">
            {% for ingredient, volume in ingredients.items() %}
            <div style="padding-top: 15px">
                <h1 class="zutat">{{ ingredient }} - {{ volume }}ml</h1>
            </div>
            {% endfor %}
            <form action="{{ url_for('start_mixing') }}" method="post">
                <input type="hidden" name="cocktail" value="{{ cocktail }}">
                <button type="submit" class="mixbutton">Jetzt Zubereiten!</button>
            </form>
        </div>
        <div style="flex: 1;">
            <img src="{{ url_for('static', filename= cocktail + '.png') }}" class="c_pic" alt="{{ cocktail }} Picture">
        </div>
    </main>
</body>
</html>
